@model IEnumerable<RickyTestApp.Models.PurchaseViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripEnd)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
        </tr>
}
    </tbody>
</table>
