@model RickyTestApp.Models.UserViewModel
@{
    ViewData["Title"] = "Login";
}

@*Ricky wrote this code.*@
@*Stephen validated and styled this page*@

@Html.Raw(TempData["LoginPrompt"])

<div class="jumbotron mt-4">
    <div class="text-center">
        <div class="row justify-content-center">
            <form asp-action="Login">
                <p>@Html.Label((string)ViewBag.log)</p>

                <h3>Login</h3>
                <table class="table col-4">
                    <tr>
                        <td colspan="2">
                            <span asp-validation-for="Username" style="color:red;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td>
                            <input id="uxUsername" type="text" asp-for="Username" />
                        </td>
                    </tr>
                    @Html.Raw(TempData["PasswordError"])
                    @*<tr>
                            <td colspan="2">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </td>
                        </tr>*@
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input id="uxPassword" type="password" asp-for="Password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Log in" class="btn btn-primary" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">@Html.ActionLink("Forgot password?", "ForgotPassword") <br /> @Html.ActionLink("Create an account", "RegisterDetails", "Register")</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

